body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Bütün sayfa için varsayılan bir arka plan rengi belirlemek iyi bir pratiktir. */
  background-color: #fcf7f7;
}

/* React uygulamasının oturduğu ana elementi seçiyoruz */
#root {
  /* Genişliğinin %100 olmasını sağlıyoruz. */
  /* Bu kural, MUI <Container>'ın kendini doğru ortalaması için KESİNLİKLE GEREKLİDİR. */
  width: 100%;
}
